:root{
    --primary-color: #ffc107;
}

body{
    font-family: 'Roboto Mono', monospace;
}

input[type="range"].form-range::-webkit-slider-thumb{
    background: var(--primary-color);
}

.input_value{
    background: #ff880038;
    width: 100%;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    margin: 1rem 0;
}

.app_head{
    background: var(--primary-color);
}

.result{
    background: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 0.4rem;
}

@media screen and (max-width: 567px){
    #app{
        width: 80% !important;
    }
}